extends template
block content
    table.es-content(cellpadding='0' cellspacing='0' align='center')
        tbody
            tr
                td.esd-stripe(align='center')
                    table.es-content-body(bgcolor='#ffffff' align='center' cellpadding='0' cellspacing='0' width='700')
                        tbody
                            tr
                                td.esd-structure.es-p40t.es-p20b.es-p20r.es-p20l(align='left' esd-custom-block-id='334499')
                                    table(cellpadding='0' cellspacing='0' width='100%')
                                        tbody
                                            tr
                                                td.esd-container-frame(width='660' align='center' valign='top')
                                                    table(cellpadding='0' cellspacing='0' width='100%')
                                                        tbody
                                                            tr
                                                                td.esd-block-image(align='center' style='font-size: 0px;')
                                                                    a(target='_blank')
                                                                        img(src='https://tlr.stripocdn.email/content/guids/CABINET_2663efe83689b9bda1312f85374f56d2/images/10381620386430630.png' alt='' style='display: block;' width='100')
                                                            tr
                                                                td.esd-block-text(align='center')
                                                                    h2 Verify your email to finish signing up
                                                            tr
                                                                td.esd-block-spacer.es-p10t.es-p10b.es-m-txt-c(align='center' style='font-size:0')
                                                                    table(border='0' width='40%' height='100%' cellpadding='0' cellspacing='0' style='width: 40% !important; display: inline-table;')
                                                                        tbody
                                                                            tr
                                                                                td(style='border-bottom: 1px solid #cccccc; background:none; height:1px; width:100%; margin:0px 0px 0px 0px;')
                                                            tr
                                                                td.esd-block-text.es-p5t.es-p5b.es-p40r.es-m-p0r(align='center' esd-links-underline='none')
                                                                    p Thank you for registering on our website #{firstName} #{lastName}
                                                                    p
                                                                        br
                                                                    p
                                                                        | Please confirm that
                                                                        strong
                                                                            a(target='_blank' href='mailto:colin_washington@email.com' style='text-decoration: none;') #{emailUser}
                                                                        | is your email address by clicking on the button below or use this link #{someUrl.href}
                                                                        a(target='_blank' href='https://viewstripo.email' style='text-decoration: none; word-break: break-all;')
                                                                        |  within
                                                                        strong 48 hours
                                                                        | .
                                                            tr
                                                                td.esd-block-spacer.es-p10t.es-p10b.es-m-txt-c(align='center' style='font-size:0')
                                                                    table(border='0' width='40%' height='100%' cellpadding='0' cellspacing='0' style='width: 40% !important; display: inline-table;')
                                                                        tbody
                                                                            tr
                                                                                td(style='border-bottom: 1px solid #cccccc; background:none; height:1px; width:100%; margin:0px 0px 0px 0px;')
                                                            tr
                                                                td.esd-block-button.es-p10t.es-p10b.es-m-txt-l(align='center')
                                                                    span.es-button-border(style='background: #ffffff;')
                                                                        button
                                                                            a.es-button(href=someUrl.href target='_blank' style='background: #ffffff; border-color: #ffffff;') Verify my email